.header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: black;
    justify-content: space-between;
}

.contentColor {
    height: 80%;
    display: flex;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: white;
    margin: 5px;
    margin-right: 50px;
}

app-sidebar {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    width: 25%;
    padding: 15px;
}

app-rectangle {
    height: 100%;
    width: 100%
}

color-cuadrado-pequenio {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

app-input-form {
    position: absolute;
}

.center {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}